plugins {
    id 'nf-schema@2.1.1'
}

validation {
    help {
        enabled = true
        command = \
"""
    nextflow \\
        -log 'outputs/nextflow.log' \\
        run \\
        -resume  -bg \\
        -profile docker \\
        -work-dir './outputs/work/' \\
    main.nf \\
        --plates 'plate1' \\
        --input './inputs/input_fastq' \\
        --output 'outputs' \\
        --downsample 0
"""
    }
}



params {

    input = null
    output = null
    downsample = 0.0
    
}
process {
     withName:DOWNSAMPLE {
                container = 'seqwell/seqtk:v1.0'
            }
            withName:BBMERGE {
                container = 'seqwell/fq_assemble:v1.0'
                memory = '7.0G'
                cpus = 4
            }
            withName:UNICYCLER {
                container = 'seqwell/fq_assemble:v1.0'
            }
            withName:CIRCULARIZE {
                container = 'seqwell/python:v1.0'
            }
            withName:BWA {
                container = 'seqwell/fq_assemble:v1.0'
            }
            withName:BAM_READ_COUNT {
                container = 'seqwell/fq_assemble:v1.0'
            }
            withName:PLANNOTATE {
                container = 'seqwell/fq_assemble:v1.0'
            }
            withName:FIX_START {
                container = 'seqwell/fq_assemble:v1.0'
            }
            withName:SUMMARIZE {
                container = 'seqwell/python:v1.0'
            }
            withName:ANALYZE_BAM_READ_COUNT {
                container = 'rocker/tidyverse:latest'
            }
            withName:PLASMIDMAP {
                container = 'rocker/tidyverse:latest'
            }
    
    
}



profiles {
    apptainer {
        apptainer.enabled = true
    }

    aws {
        docker.enabled = true
    }

    docker {
        docker.enabled = true
    }


    singularity {
        singularity.enabled = true
    }
}


manifest {
    name            = 'seqWell Demux'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.11'
    version         = '1.0.0-dev'
}